openapi: 3.1.0
info:
  title: PlanSync API
  version: "1.0.0"
  description: |
    Customer-facing PlanSync API reference for common integrations.
    Most `/api/v1` endpoints require an authenticated user session (cookie-based Better Auth).
servers:
  - url: https://app.plansync.com
    description: Production app origin
  - url: http://localhost:3000
    description: Local app origin (proxied to backend)
tags:
  - name: Health
  - name: Identity
  - name: Workspaces
  - name: Projects
  - name: Files
  - name: Issues
  - name: RFIs
  - name: Punch
  - name: Field Reports
  - name: Proposals
  - name: Operations
  - name: Schedule
  - name: Materials
  - name: Public Portals
  - name: Billing
security:
  - cookieAuth: []
paths:
  /api/v1/health:
    get:
      tags: [Health]
      summary: Service health check
      security: []
      responses:
        "200":
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                required: [ok]
  /api/v1/me:
    get:
      tags: [Identity]
      summary: Current user and workspace memberships
      responses:
        "200":
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/workspaces/{workspaceId}/projects:
    get:
      tags: [Workspaces, Projects]
      summary: List projects in a workspace
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      responses:
        "200":
          description: Project list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Workspaces, Projects]
      summary: Create project in workspace
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectRequest"
      responses:
        "200":
          description: Created project
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          $ref: "#/components/responses/BadRequest"
  /api/v1/projects/{projectId}/issues:
    get:
      tags: [Issues]
      summary: List issues for project
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Issue list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Issue"
    post:
      tags: [Issues]
      summary: Create issue
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIssueRequest"
      responses:
        "200":
          description: Created issue
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Issue"
        "400":
          $ref: "#/components/responses/BadRequest"
  /api/v1/projects/{projectId}/rfi:
    get:
      tags: [RFIs]
      summary: List RFIs
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: RFI list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Rfi"
    post:
      tags: [RFIs]
      summary: Create RFI
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRfiRequest"
      responses:
        "200":
          description: Created RFI
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Rfi"
        "400":
          $ref: "#/components/responses/BadRequest"
  /api/v1/projects/{projectId}/punch:
    get:
      tags: [Punch]
      summary: List punch items
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Punch item list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PunchItem"
    post:
      tags: [Punch]
      summary: Create punch item
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePunchRequest"
      responses:
        "200":
          description: Created punch item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PunchItem"
  /api/v1/projects/{projectId}/field-reports:
    get:
      tags: [Field Reports]
      summary: List field reports
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Field report list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FieldReport"
    post:
      tags: [Field Reports]
      summary: Create field report
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFieldReportRequest"
      responses:
        "200":
          description: Created report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FieldReport"
  /api/v1/files/presign-upload:
    post:
      tags: [Files]
      summary: Request presigned upload target
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PresignUploadRequest"
      responses:
        "200":
          description: Presigned upload URL and metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PresignUploadResponse"
  /api/v1/files/complete-upload:
    post:
      tags: [Files]
      summary: Complete file upload after object storage upload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteUploadRequest"
      responses:
        "200":
          description: Upload completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileUploadResult"
  /api/v1/projects/{projectId}/proposals:
    get:
      tags: [Proposals]
      summary: List proposals
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Proposal list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Proposal"
    post:
      tags: [Proposals]
      summary: Create proposal
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProposalRequest"
      responses:
        "200":
          description: Created proposal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Proposal"
  /api/v1/public/proposals/{token}:
    get:
      tags: [Public Portals, Proposals]
      summary: Public proposal by token
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Proposal portal payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Proposal"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/projects/{projectId}/om/assets:
    get:
      tags: [Operations]
      summary: List O&M assets
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Asset list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OmAsset"
    post:
      tags: [Operations]
      summary: Create O&M asset
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOmAssetRequest"
      responses:
        "200":
          description: Created asset
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OmAsset"
  /api/v1/projects/{projectId}/om/maintenance:
    get:
      tags: [Operations]
      summary: List maintenance schedules
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Maintenance schedule list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MaintenanceSchedule"
    post:
      tags: [Operations]
      summary: Create maintenance schedule
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMaintenanceRequest"
      responses:
        "200":
          description: Created schedule
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MaintenanceSchedule"
  /api/v1/projects/{projectId}/schedule:
    get:
      tags: [Schedule]
      summary: Get project schedule
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Schedule payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      $ref: "#/components/schemas/ScheduleTask"
                required: [tasks]
    put:
      tags: [Schedule]
      summary: Replace project schedule
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tasks:
                  type: array
                  items:
                    $ref: "#/components/schemas/ScheduleTask"
              required: [tasks]
      responses:
        "200":
          description: Updated schedule
  /api/v1/workspaces/{workspaceId}/materials:
    get:
      tags: [Materials]
      summary: List workspace materials
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      responses:
        "200":
          description: Material list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Material"
    post:
      tags: [Materials]
      summary: Create workspace material
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMaterialRequest"
      responses:
        "200":
          description: Created material
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Material"
  /api/v1/occupant/{token}/meta:
    get:
      tags: [Public Portals, Operations]
      summary: Public occupant portal metadata
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Occupant portal metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  projectId:
                    type: string
                  projectName:
                    type: string
                  workspaceName:
                    type: string
                required: [projectId, projectName, workspaceName]
  /api/v1/occupant/{token}/submit:
    post:
      tags: [Public Portals, Operations]
      summary: Submit occupant issue
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                location:
                  type: string
                reporterName:
                  type: string
                reporterEmail:
                  type: string
                  format: email
              required: [title]
      responses:
        "200":
          description: Occupant submission accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  issueId:
                    type: string
                required: [ok, issueId]
  /api/stripe/checkout:
    post:
      tags: [Billing]
      summary: Create checkout session for workspace billing
      responses:
        "200":
          description: Checkout session payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                required: [url]
  /api/stripe/webhook:
    post:
      tags: [Billing]
      summary: Stripe webhook receiver (internal)
      security: []
      responses:
        "200":
          description: Webhook accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: better-auth.session_token
      description: Better Auth session cookie. Cookie name can vary by environment.
  parameters:
    WorkspaceId:
      name: workspaceId
      in: path
      required: true
      schema:
        type: string
    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
  responses:
    BadRequest:
      description: Validation or request error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Missing or invalid session
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
      required: [error]
    MeResponse:
      type: object
      properties:
        user:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            email:
              type: string
              format: email
          required: [id, name, email]
        workspaces:
          type: array
          items:
            $ref: "#/components/schemas/Workspace"
      required: [user, workspaces]
    Workspace:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        role:
          type: string
          enum: [SUPER_ADMIN, ADMIN, MEMBER]
      required: [id, name, slug]
    Project:
      type: object
      properties:
        id:
          type: string
        workspaceId:
          type: string
        name:
          type: string
        stage:
          type: [string, "null"]
      required: [id, workspaceId, name]
    CreateProjectRequest:
      type: object
      properties:
        name:
          type: string
        location:
          type: [string, "null"]
        currency:
          type: [string, "null"]
      required: [name]
    Issue:
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        title:
          type: string
        status:
          type: string
        priority:
          type: string
        issueKind:
          type: string
      required: [id, projectId, title, status, priority]
    CreateIssueRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: [string, "null"]
        status:
          type: string
        priority:
          type: string
        issueKind:
          type: string
      required: [title]
    Rfi:
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        rfiNumber:
          type: integer
        title:
          type: string
        status:
          type: string
      required: [id, projectId, title, status]
    CreateRfiRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: [string, "null"]
        dueDate:
          type: [string, "null"]
          format: date-time
      required: [title]
    PunchItem:
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        punchNumber:
          type: integer
        title:
          type: string
        status:
          type: string
      required: [id, projectId, title, status]
    CreatePunchRequest:
      type: object
      properties:
        title:
          type: string
        notes:
          type: [string, "null"]
        dueDate:
          type: [string, "null"]
          format: date-time
      required: [title]
    FieldReport:
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        title:
          type: string
        createdAt:
          type: string
          format: date-time
      required: [id, projectId, title, createdAt]
    CreateFieldReportRequest:
      type: object
      properties:
        title:
          type: string
        details:
          type: object
          additionalProperties: true
      required: [title]
    PresignUploadRequest:
      type: object
      properties:
        fileName:
          type: string
        contentType:
          type: string
        sizeBytes:
          type: integer
        projectId:
          type: string
      required: [fileName, contentType, sizeBytes, projectId]
    PresignUploadResponse:
      type: object
      properties:
        uploadUrl:
          type: string
          format: uri
        s3Key:
          type: string
        uploadId:
          type: string
      required: [uploadUrl, s3Key, uploadId]
    CompleteUploadRequest:
      type: object
      properties:
        uploadId:
          type: string
        s3Key:
          type: string
        fileName:
          type: string
      required: [uploadId, s3Key, fileName]
    FileUploadResult:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: integer
      required: [id, name, version]
    Proposal:
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        title:
          type: string
        status:
          type: string
        total:
          type: string
      required: [id, projectId, title, status]
    CreateProposalRequest:
      type: object
      properties:
        title:
          type: string
        clientName:
          type: string
        clientEmail:
          type: string
          format: email
        validUntil:
          type: string
          format: date-time
      required: [title, validUntil]
    OmAsset:
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        tag:
          type: string
        name:
          type: string
      required: [id, projectId, name]
    CreateOmAssetRequest:
      type: object
      properties:
        name:
          type: string
        tag:
          type: [string, "null"]
        category:
          type: [string, "null"]
      required: [name]
    MaintenanceSchedule:
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        assetId:
          type: string
        title:
          type: string
        frequency:
          type: string
      required: [id, projectId, assetId, title]
    CreateMaintenanceRequest:
      type: object
      properties:
        assetId:
          type: string
        title:
          type: string
        frequency:
          type: string
      required: [assetId, title, frequency]
    ScheduleTask:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        startDate:
          type: [string, "null"]
          format: date-time
        endDate:
          type: [string, "null"]
          format: date-time
      required: [id, name]
    Material:
      type: object
      properties:
        id:
          type: string
        workspaceId:
          type: string
        name:
          type: string
        unit:
          type: string
        unitPrice:
          type: [string, "null"]
      required: [id, workspaceId, name, unit]
    CreateMaterialRequest:
      type: object
      properties:
        name:
          type: string
        unit:
          type: string
        unitPrice:
          type: [number, "null"]
      required: [name, unit]
